<!DOCTYPE html>
<html lang="en">
<head>

  <!-- Basic Page Needs
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <meta charset="utf-8">
  <title>Your page title here :)</title>
  <meta name="description" content="">
  <meta name="author" content="">

  <!-- Mobile Specific Metas
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <!-- FONT
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <!-- <link href="//fonts.googleapis.com/css?family=Raleway:400,300,600" rel="stylesheet" type="text/css"> -->

  <!-- CSS
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <link rel="stylesheet" href="css/normalize.css">
  <link rel="stylesheet" href="css/skeleton.css">
  <link rel="stylesheet" href="css/main.css">

  <!-- Favicon
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <link rel="icon" type="image/png" href="images/favicon.png">

</head>
<body>
  <!--[if lte IE 9]>
    <p class="container browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience and security.</p>
  <![endif]-->
  <div class="container">
  	<header>
  	</header>
  	<nav class="nav">
  		<ul>
  			<li><a href="#">前端</a></li>
  			<li><a href="#">Node.js</a></li>
  			<li><a href="#">动漫</a></li>
  		</ul>
  	</nav>
  	<main>
  		<article class="row">
  			<header>
  				<h1>又有新番出来了</h1>
  			</header>
  			<p>在家长重重压力下想要离家出走的大雄、胖虎、小夫和静香，在哆啦A梦的协助下来到了七万年前的地球。在创造属于自己的世外桃源时，他们偶遇</p>
  		</article>
  	</main>
  </div>
  <div id="test">
  	<div id="t"></div>
  	<input id="text" type="text" name="" />
  	<input id="btn" type="button" value="write" onclick="test()">
  </div>
  <script type="text/javascript">
  	function test () {
  		var s = document.getElementById('text').value;
  		var html = '<a href="' + s + '">testLink</a>';
  		console.log(html);
  		document.getElementById('t').innerHTML = '<a href="' + s + '">testLink</a>';
  	}
  </script>
</body>
</html>

