<!DOCTYPE html>
<html lang="en">
<head>

  <!-- Basic Page Needs
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <meta charset="utf-8">
  <title>dianwen的个人网站</title>
  <meta name="description" content="">
  <meta name="author" content="">

  <!-- Mobile Specific Metas
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <!-- FONT
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <!-- <link href="//fonts.googleapis.com/css?family=Raleway:400,300,600" rel="stylesheet" type="text/css"> -->

  <!-- CSS
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <!-- <link rel="stylesheet" href="css/normalize.css"> -->
  <!-- <link rel="stylesheet" href="css/skeleton.css"> -->
  <!-- <link rel="stylesheet" href="css/main.css"> -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.4.2/css/bulma.min.css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">

  <!-- Favicon
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <link rel="icon" type="image/png" href="images/favicon.png">

</head>
<body>
  <!--[if lte IE 9]>
    <p class="container browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience and security.</p>
  <![endif]-->
<div class="container is-fluid">
<div class="notification is-warning">
  网站建设中
</div>
<nav class="nav">
  <div class="nav-left">
    <a href="/" class="nav-item">
      <img src="/images/head.jpg" alt="Bulma logo">&nbsp;Re0
    </a>
  </div>

  <!-- This "nav-menu" is hidden on mobile -->
  <!-- Add the modifier "is-active" to display it on mobile -->
  <div class="nav-right nav-menu">
    <a class="nav-item">
      前端
    </a>
    <!-- <a class="nav-item">
      动漫
    </a> -->
    <a class="nav-item">
      关于
    </a>
  </div>
</nav>
<section class="hero">
  <div class="hero-body">
    <div class="container">
      <h1 class="title">
        获取10天免费Safari Books账号
      </h1>
      <h2 class="subtitle">
        账号免费到期后才会注册新的账号，请不要改密码
      </h2>
      <a id="get_register" class="button is-large">点击获取</a>
    </div>
  </div>
</section>
  <footer class="footer">
    <div class="container">
      <div class="content has-text-centered">
        <p>
          &copy; 2017 - re0
        </p>
        <!-- <p>Powered by <a target="_blank" href="https://github.com/jgthms/bulma">Bulma</a></p> -->
      </div>
    </div>
  </footer>
</div>
<script type="text/javascript" src="/js/jquery-3.2.1.min.js"></script>
<script type="text/javascript" src="/js/main.js"></script>
</body>
</html>

